.heading {

    margin-right: auto;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: grey;

}

.navigation_bar {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-items: center;
    z-index: 99999;
    height: 70px;
    padding: 0 30px;
    border-bottom: 1px solid rgb(222, 221, 221);
    background: white;

}

.profile {

    margin-left: auto;
    margin-right: 100px;
}


.nav1 {
    display: flex;

    gap: 50px;
}



.first_hr {
    margin-top: -10px;
}

.user_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;

}

.but_profile {
    display: flex;

    align-items: center;
    border: none;

    cursor: pointer;
    background-color: white;
}


.overlay {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: 9998;

}





.nav1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}

.watchlist {
    display: flex;
    flex-direction: column;
    
    width: 300px;
    height: 600px;
   margin-top: 20px;
    
   
   
    
    
    


}

.main_watchlist {
    display: flex;
    flex-direction:column ;
    margin-left: 30px;
    position: fixed;
    width: 299px;
    height: 100%;
   
    
    background: white;
    border-radius: 2px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    
    padding: 10px;



}

.main_watchlist h3 {
    font-family: Arial, Helvetica, sans-serif;

    font-weight: normal;
    color: rgb(50, 50, 50);


}

.search {
    width: 300px;
    border: 1px solid rgb(222, 221, 221);
    padding: 10px 12px;
    box-sizing: border-box;
    outline: none;
    border-radius: 5px;
    margin-top: 30px;
    
   
   


}

.searchContainer {
    position: relative;

}

.dropdown {
    width: 100%;

    border: 1px solid rgb(222, 221, 221);
    background: white;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    border-radius: 10px;
    background: white;
    z-index: 9999;
    cursor: pointer;



}

.item {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    padding-left: 12px;
    padding-top: 20px;
    font-size: small;
    align-items: center;
    color: grey;

}

.dropdown :hover {
    width: 95.9%;

    background-color: rgb(241, 241, 241);

}

.watchlistItem {
    text-align: left;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: small;
    color: rgb(123, 185, 123);
    border-bottom: 1px solid rgb(239, 239, 239);



}

.watchlistItem:hover {
    background-color: rgb(241, 241, 241);

}

@media (max-width: 1400px) {
    .watchlist {
        width: 260px;
    }
}