.heading {
    margin-right: auto;
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: grey;

}

.navigation_bar {
    display: flex;
    align-items: center;
    position: relative;


}

.profile {
    position: relative;
    margin-left: auto;
    margin-right: 100px;
}


.nav1 {
    display: flex;

    gap: 50px;
}



.first_hr {
    margin-top: -10px;
}
.user_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}
.but_profile {
    display: flex;

    align-items: center;
    border: none;

    cursor: pointer;
    background-color: white;
}


.overlay {
    position: fixed;
    top: 0;

    width: 100vw;
    height: 100vh;
    z-index: 9998;

}





.nav1 a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}