.pagecontent {
    margin-left: 351px;
    width: calc(100% - 350px);
    min-height: calc(100vh - 50px);
    padding: 20px;
    box-sizing: border-box;
    margin-top: 50px;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width : 1400px) {
    .pagecontent {
        margin-left: 280px;
    }
}

.layout {
    width: 85%;
    margin: 0 auto;
}