.funds_box {
    width: 600px;
    height: 200px;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 15px;
    border-color: rgb(231, 228, 228);
    font-weight: normal;

}

.virtual {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 80, 80);

}


.margin {
    margin-top: 50px;
    display: flex;

    justify-content: space-between;
    margin-bottom: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 80, 80);
}

.box {
    display: flex;
    justify-content: center;
}

.total {
    margin-top: 50px;
    display: flex;

    justify-content: space-between;
    margin-bottom: 10px;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(81, 80, 80);
}

.walletLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.add {
    border: 1px solid grey;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    cursor: pointer;
    border: none;
    background-color: rgb(8, 161, 8);
    color: white;

}
.virtual_wallet{
    font-size: x-large;
    color: rgb(113, 113, 113);
    font-family: Arial, Helvetica, sans-serif;
}


:global(body.dark-mode) .virtual_wallet{
    color: white;
    
}
:global(body.dark-mode) .funds_box{
    border: 1px solid rgb(74, 73, 73);
   
}
:global(body.dark-mode) .virtual{
   color: grey;
   
}
:global(body.dark-mode) .margin{
   color: grey;
   
}
:global(body.dark-mode) .total{
   color: grey;
   
}